body {
    background-color: black;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.netflix {
    background-color: rgba(255, 0, 0, 0.500);
    width: 60px;
    height: 250px;
    position: relative;
    bottom: -10rem;
    left: -2rem;
}

.netflix::before {
    content: '';
    background-color: rgba(255, 0, 0, 0.500);
    width: 60px;
    height: 250px;
    position: absolute;
    left: 90px;
}

.netflix::after {
    content: '';
    background-color: black;
    width: 175px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    bottom: -10px;
}

span {
    position: absolute;
    width: 60px;
    height: 250px;
    background-color: red;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px black;
}